*{
  margin:0;
  padding:0;
}

header{
  background-color:#000;
  opacity:.97;
  height:50px;
}

.nav-bar{
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 10000;
}

.nav-bar ul{
  list-style:none;
}

.nav-bar li{
  display:inline-block;
  padding-right:35px;
  padding-top:12px;
}

.nav-bar a{
  user-select:none;
  text-decoration:none;
  color:#E8E8E9;
}

.nav-bar a:hover{
  text-decoration:none;
  color:#FFF;
}

.nav-icon{
  color:#FFF;
  position:absolute;
  top:0;
  right:0;
  padding-right:.3em;
  font-size:2em;
  display:none;
}

.nav-dropdown{
  display:none;
  position:absolute;
  left:0;
  width:100%;
  top:50px;
}

.nav-dropdown ul{
  list-style:none;
}

.nav-dropdown li{
  text-align:center;
  padding-right:100px;
  padding-left:100px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#191919;
  color:#303030;
  border-bottom:1px solid;
}

.nav-dropdown li:hover{
  background-color:#474747;
}

.nav-dropdown li:last-child{
  border:none;
}

.nav-dropdown a{
  text-decoration:none;
  color:#E8E8E9;
}

.nav-dropdown a:hover{
  text-decoration:none;
  color:#FFF;
}

@media only screen and (max-width: 1250px) {
  .nav-icon{
    display:block;
    color:#E8E8E9;
  }
  .nav-icon:hover{
    display:block;
    color:#FFF;
  }
  .nav-bar{
    display:none;
  }
}

.foot{
  background-color:#111114;
  position: absolute;
  bottom:0;
  left:0;
  width:100%;
}

.footer-text{
  color:#ADADAF;
  font-size:20px;
  margin:0;
}

#name{
  padding-top:40px;
  user-select:none;
}

.footer-email{
  color:#94C5CC;
}

.footer-accent{
  color:#454645;
  padding-top:20px;
  padding-bottom:20px;
}

.side-text{
  font-size:70%;
  user-select:none;
  color:#FFF;
}

