nav {
  box-shadow: 0px -16px 22px 13px rgba(110, 110, 110, 0.74);
}

.nav-item {
  margin-left: 20px;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.cover-photo {
  width: 100%;
  height: auto;
  filter: brightness(30%);
}

.image-holder {
  background-color: green;
}

.cover-content {
  position: absolute;
  color: white;
  text-align: center;
  top: 200px;
  left: 0;
  right: 0;
}

.services {
  background-color: #1e1e1e;
  color: white;
  text-align: center;
  padding: 40px;
}

 h3 {
    font-size: 100px;
  }
  
  p.lead {
    font-size: 30px;
  }

hr {
  border: 1px solid white;
}

.service-text {
  text-align: left;
}

i {
  font-size: 29px;
  padding: 20px;
}

.fa-pencil-ruler {
  color: #FF9000;
}

.fa-react {
  color: #78c3fb;
}

.fa-html5 {
  color: #e34f26;
}

.fa-css3-alt {
  color: #1572b6;
}

@media (max-width: 992px) {
  .cover-content {
    position: absolute;
    text-align: center;
    top: 180px;
    left: 0;
    right: 0;
  }
  
  h3 {
    font-size: 75px;
  }
  
  p.lead {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .cover-content {
    position: absolute;
    text-align: center;
    top: 160px;
    left: 0;
    right: 0;
  }
  
  h3 {
    font-size: 50px;
  }
  
  p.lead {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .cover-content {
    top: 120px;
  }
  
  h3 {
    font-size: 30px;
  }
  
  p.lead {
    font-size: 15px;
  }
}

@media (max-width: 460px) {
  .cover-content {
    position: absolute;
    text-align: center;
    top: 100px;
    left: 0;
    right: 0;
  }
  
  h3 {
    font-size: 25px;
  }
  
  p.lead {
    font-size: 15px;
  }
}